.title--lg {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}
.title--m {
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  font-size: 500;
}
.title--s {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}
.content--lg {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}
.content--s {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.text--darkb {
  color: var(--color-dark-blue);
}
.text--gray {
  color: var(--color-gray);
}
