.header {
  padding: 2.3rem 2.4rem 6.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
  @media screen and(min-width: 610px) {
    padding: 4rem 3.9rem 6.2rem 3.9rem;
  }
  @media screen and(min-width:1100px) {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5.5rem;
    padding-bottom: 8.3rem;
  }
}
.typemaster {
  display: grid;
  grid-template-columns: minmax(32.7rem, 1fr);
  grid-template-rows: repeat(2, minmax(1fr, 33.1rem));
  @media screen and (min-width: 610px) {
    grid-template-columns: minmax(33.9rem, 1fr) minmax(350px, 1fr);
  }
  @media screen and (min-width: 1100px) {
    grid-template-columns: 0.69fr 2fr 3fr 0.69fr;
    grid-template-rows: repeat(2, 240px);
    row-gap: 0;
    column-gap: 30px;
  }
  &__form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    &__label {
      padding-left: 10px;
    }
    &__btn {
      flex-shrink: 0;
    }

    @media screen and (min-width: 1100px) {
    }
  }
  &__title {
    margin-bottom: 14.2rem;
    @media screen and (min-width: 610px) {
      margin: 0;
      width: 100%;
    }
  }
  &__content {
    display: none;
    @media screen and (min-width: 610px) {
      display: block;
      margin-top: 3.4rem;
      margin-bottom: 3.9rem;
    }
  }
  .typemaster-container {
    grid-row: 1;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-bottom: 6.4rem;
    @media screen and (min-width: 610px) {
      grid-row: 1;
      padding-left: 3.9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 1100px) {
      padding: 0;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .typemaster-image-container {
    grid-row: 2;
    border-radius: 2rem;
    overflow: hidden;
    transform: translateX(2.4rem);
    @media screen and (min-width: 610px) {
      grid-row: 1;
      padding: 0;
    }
    @media screen and (min-width: 1100px) {
      display: block;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 3;
      transform: translateX(0%);
      border-radius: 2rem;
      overflow: hidden;
    }
    & > img {
      width: 100%;
      height: 100%;
      padding: 0;
      object-fit: cover;
    }
  }
  .typemaster-rectangle {
    @media screen and (min-width: 1100px) {
      grid-row: 1;
      grid-column-start: 4;
      grid-column-end: 5;

      background-color: var(--color-light-gray);
      border-radius: 2rem 0 0 2rem;
    }
  }
  .typemaster-rectangle2 {
    @media screen and (min-width: 1100px) {
      grid-row: 1;
      grid-column: 1;
      background-color: black;
      visibility: hidden;
    }
  }
}
.mechanical {
  padding-top: 2.4rem;
  display: grid;
  grid-template-columns: 120px minmax(220px, 1fr);
  grid-template-rows: 193px;
  column-gap: 2.4rem;
  row-gap: 7.5rem;
  @media screen and (min-width: 610px) {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    grid-template-columns: 214px 1fr;
    grid-template-rows: 320px 108px;
    row-gap: 0;
  }
  @media screen and (min-width: 1100px) {
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: repeat(2, 236px);
    row-gap: 0;
    column-gap: 3rem;
    padding: 0;
    padding-top: 3rem;
  }
  &__img-container-one {
    grid-row: 1;
    grid-column: 1;
    border-radius: 2rem;
    overflow: hidden;
    transform: translateX(-15%);

    position: relative;
    &::after {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      background-color: var(--color-orange);
    }
    @media screen and (min-width: 610px) {
      transform: translateX(0%);
      grid-column: 1;
      grid-row: 1;
    }
    @media screen and (min-width: 1100px) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 2;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__img-container-two {
    grid-row: 1;
    grid-column: 2;
    border-radius: 2rem;
    overflow: hidden;

    transform: translateX(-8%);
    @media screen and (min-width: 610px) {
      transform: translateX(0%);
      grid-column: 2;
      grid-row: 1;
    }
    @media screen and (min-width: 1100px) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 3;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    padding-bottom: 2.4rem;
  }
  &__content {
    max-width: 32.7rem;
    margin: 0 auto;
    @media screen and (min-width: 610px) {
      max-width: 80%;
      align-self: center;
    }
  }
  &__texts-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;

    @media screen and (min-width: 610px) {
      display: contents;
      text-align: left;
    }
    @media screen and (min-width: 1100px) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > h2 {
        width: 255px;
        margin-bottom: 2.7rem;
      }
      & > p {
        max-width: 255px;
        flex-grow: 0;
      }
    }
  }
  &__rectangle3 {
    @media screen and (min-width: 1100px) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      background-color: var(--color-light-gray);
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }
  }
  &__rectangle4 {
    @media screen and (min-width: 1100px) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column: 5;
      background-color: var(--color-light-gray);
      visibility: hidden;
    }
  }
}
.feature {
  display: grid;
  padding-top: 11.1rem;
  grid-template-columns: minmax(28.1rem, 1fr);
  grid-template-rows: repeat(4, minmax(28.9rem, 1fr));
  row-gap: 6.4rem;
  @media screen and(min-width: 610px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: none;

    row-gap: 7.2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    justify-content: center;
  }
  @media screen and(min-width: 1100px) {
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and(min-width: 610px) {
      align-items: flex-start;
      padding-right: 2.4rem;
    }
    @media screen and (min-width: 1100px) {
      align-self: start;
      padding-right: 0rem;
    }
    &__img-container {
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 2rem;
      background-color: var(--color-orange);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title {
      margin-top: 4.8rem;
      margin-bottom: 2.4rem;
      text-align: center;
      @media screen and(min-width: 610px) {
        margin-top: 4rem;
        text-align: left;
      }
    }
    &__content {
      text-align: center;
      padding: 0 2.4rem;
      max-width: 32.7rem;
      @media screen and(min-width: 610px) {
        text-align: left;
        padding: 0;
        padding-right: 2.4rem;
      }
    }
  }
}
.feature__rectangle1 {
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
  }
}
.feature_rectangle2 {
  display: none;
  @media screen and (min-width: 1100px) {
    display: block;
  }
}

footer {
  text-align: center;
  margin-top: 9.6rem;
  margin-bottom: 5rem;
  @media screen and(min-width: 610px) {
    margin-top: 14.2rem;
    margin-bottom: 4.3rem;
  }
  @media screen and(min-width:910px) {
    margin-right: 16.5rem;
    margin-left: 16.5rem;
    margin-top: 12.8rem;
    margin-bottom: 3.9rem;
  }
}
