/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap");
:root {
  --color-orange: #f16718;
  --color-light-orange: #ff9b62;
  --color-dark-blue: #162542;
  --color-gray: #7b8bad;
  --color-light-gray: #e8eff2;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
}

.header {
  padding: 2.3rem 2.4rem 6.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 680px) {
  .header {
    padding: 4rem 3.9rem 6.2rem 3.9rem;
  }
}
@media screen and (min-width: 910px) {
  .header {
    padding: 5.5rem 16.5rem 8.3rem 16.5rem;
    max-width: 1286px;
  }
}

.main .typemaster {
  padding-left: 2.4rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(32.7rem, 1fr);
  grid-template-rows: 26.1rem 33.1rem;
  row-gap: 6.4rem;
}
@media screen and (min-width: 680px) {
  .main .typemaster {
    grid-template-columns: minmax(33.9rem, 1fr) 1fr;
    grid-template-rows: unset;
    padding-left: 3.9rem;
    column-gap: 6.9rem;
  }
}
@media screen and (min-width: 910px) {
  .main .typemaster {
    grid-template-columns: 1fr 540px minmax(130px, 1fr);
    grid-template-rows: repeat(2, 240px);
    padding-left: 16.5rem;
  }
}
.main .typemaster__content {
  visibility: hidden;
}
@media screen and (min-width: 680px) {
  .main .typemaster__content {
    visibility: visible;
    padding-top: 3.4rem;
    padding-bottom: 3.9rem;
  }
}
@media screen and (min-width: 910px) {
  .main .typemaster__content {
    padding-top: 2.4rem;
    padding-bottom: 4rem;
  }
}
.main .typemaster__form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.main .typemaster .typemaster-container {
  grid-column: 1;
  grid-row: 1;
  padding-right: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 680px) {
  .main .typemaster .typemaster-container {
    grid-column: 1;
  }
}
@media screen and (min-width: 910px) {
  .main .typemaster .typemaster-container {
    padding: 0;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
  }
}
.main .typemaster .typemaster-image-container {
  grid-column: 1;
  grid-row: 2;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}
@media screen and (min-width: 680px) {
  .main .typemaster .typemaster-image-container {
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 910px) {
  .main .typemaster .typemaster-image-container {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 2rem;
  }
}
.main .typemaster .typemaster-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 910px) {
  .main .typemaster .typemaster-rectangle {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color-light-gray);
    border-radius: 2rem 0 0 2rem;
  }
}
.main .mechanical {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 7.5rem;
  grid-template-columns: minmax(12.9rem, 1fr) minmax(22rem, 1fr);
  grid-template-rows: 19.3rem;
}
@media screen and (min-width: 680px) {
  .main .mechanical {
    padding-left: 4rem;
    padding-right: 4rem;
    grid-template-columns: 21.4rem minmax(44.5rem, 1fr);
    grid-template-rows: 32rem 20rem;
    row-gap: 7.2rem;
    border: 1px solid red;
  }
}
@media screen and (min-width: 910px) {
  .main .mechanical {
    padding: 0;
    margin-top: 3rem;
    grid-template-columns: minmax(130px, 1fr) 25.5rem 44.5rem 1fr minmax(130px, 1fr);
    grid-template-rows: repeat(2, 235px);
  }
}
.main .mechanical__img-container-one {
  grid-row: 1;
  grid-column: 1;
  overflow: hidden;
  transform: translateX(-15px);
  border-radius: 2rem;
}
@media screen and (min-width: 680px) {
  .main .mechanical__img-container-one {
    transform: translateX(0px);
    overflow: unset;
    grid-row: 1;
    grid-column: 1;
    border-radius: 2rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 910px) {
  .main .mechanical__img-container-one {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
.main .mechanical__img-container-one > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 910px) {
  .main .mechanical__img-container-one > img {
    object-fit: cover;
  }
}
.main .mechanical__img-container-two {
  grid-row: 1;
  grid-column: 2;
  transform: translateX(-15px);
  border-radius: 2rem;
  overflow: hidden;
  margin-right: 2.4rem;
}
@media screen and (min-width: 680px) {
  .main .mechanical__img-container-two {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    border-radius: 2rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 910px) {
  .main .mechanical__img-container-two {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
.main .mechanical__img-container-two > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .mechanical__texts-container {
  grid-column: 1/3;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .main .mechanical__texts-container {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    display: contents;
  }
}
@media screen and (min-width: 910px) {
  .main .mechanical__texts-container {
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: block;
  }
}
.main .mechanical__title {
  margin-bottom: 2.4rem;
}
.main .mechanical__content {
  padding: 0 2.4rem;
}
@media screen and (min-width: 680px) {
  .main .mechanical__content {
    padding: 0;
  }
}
@media screen and (min-width: 910px) {
  .main .mechanical__rectangle {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color-light-gray);
    border-radius: 0rem 2rem 2rem 0rem;
  }
}
.main .feature {
  display: grid;
  padding-top: 11.1rem;
  grid-template-columns: minmax(28.1rem, 1fr);
  grid-template-rows: repeat(4, minmax(28.9rem, 1fr));
  row-gap: 6.4rem;
}
@media screen and (min-width: 680px) {
  .main .feature {
    grid-template-columns: repeat(2, minmax(33.9rem, 1fr));
    grid-template-rows: repeat(2, minmax(28.9rem, 1fr));
    row-gap: 7.2rem;
    column-gap: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media screen and (min-width: 910px) {
  .main .feature {
    margin: 16.8rem 16.8rem 0 16.8rem;
    grid-template-columns: repeat(4, 25.5rem);
    grid-template-rows: 32.3rem;
  }
}
.main .feature .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 680px) {
  .main .feature .card {
    align-items: flex-start;
    padding-right: 2.4rem;
  }
}
.main .feature .card__img-container {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 2rem;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .feature .card__title {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
@media screen and (min-width: 680px) {
  .main .feature .card__title {
    margin-top: 4rem;
    text-align: left;
  }
}
.main .feature .card__content {
  text-align: center;
  padding: 0 2.4rem;
}
@media screen and (min-width: 680px) {
  .main .feature .card__content {
    text-align: left;
    padding: 0;
    padding-right: 2.4rem;
  }
}

footer {
  text-align: center;
  margin-top: 9.6rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 680px) {
  footer {
    margin-top: 14.2rem;
    margin-bottom: 4.3rem;
  }
}
@media screen and (min-width: 910px) {
  footer {
    margin-right: 16.5rem;
    margin-left: 16.5rem;
    margin-top: 12.8rem;
    margin-bottom: 3.9rem;
  }
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  line-height: 2.6rem;
  border-radius: 1rem;
  padding: 1.1rem 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  min-width: 15rem;
  height: 4.8rem;
}

.btn--gray {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
}
.btn--gray:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.btn--orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.btn--orange:hover {
  background-color: var(--color-light-orange);
}

.title--lg {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}
@media screen and (min-width: 910px) {
  .title--lg {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
}

.title--m {
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  font-size: 500;
}

.title--s {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.content--lg {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}
@media screen and (min-width: 910px) {
  .content--lg {
    font-size: 1.8rem;
  }
}

.content--s {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
@media screen and (min-width: 910px) {
  .content--s {
    font-size: 1.8rem;
  }
}

.text--darkb {
  color: var(--color-dark-blue);
}

.text--gray {
  color: var(--color-gray);
}

.text--upper {
  text-transform: uppercase;
  font-weight: 900;
}

/*# sourceMappingURL=main.css.map */
