/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap");
:root {
  --color-orange: #f16718;
  --color-light-orange: #ff9b62;
  --color-dark-blue: #162542;
  --color-gray: #7b8bad;
  --color-light-gray: #e8eff2;
  --color-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}

.header {
  padding: 2.3rem 2.4rem 6.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 610px) {
  .header {
    padding: 4rem 3.9rem 6.2rem 3.9rem;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5.5rem;
    padding-bottom: 8.3rem;
  }
}

.typemaster {
  display: grid;
  grid-template-columns: minmax(32.7rem, 1fr);
  grid-template-rows: repeat(2, minmax(1fr, 33.1rem));
}
@media screen and (min-width: 610px) {
  .typemaster {
    grid-template-columns: minmax(33.9rem, 1fr) minmax(350px, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .typemaster {
    grid-template-columns: 0.69fr 2fr 3fr 0.69fr;
    grid-template-rows: repeat(2, 240px);
    row-gap: 0;
    column-gap: 30px;
  }
}
.typemaster__form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.typemaster__form__label {
  padding-left: 10px;
}
.typemaster__form__btn {
  flex-shrink: 0;
}
.typemaster__title {
  margin-bottom: 14.2rem;
}
@media screen and (min-width: 610px) {
  .typemaster__title {
    margin: 0;
    width: 100%;
  }
}
.typemaster__content {
  display: none;
}
@media screen and (min-width: 610px) {
  .typemaster__content {
    display: block;
    margin-top: 3.4rem;
    margin-bottom: 3.9rem;
  }
}
.typemaster .typemaster-container {
  grid-row: 1;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  padding-bottom: 6.4rem;
}
@media screen and (min-width: 610px) {
  .typemaster .typemaster-container {
    grid-row: 1;
    padding-left: 3.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1100px) {
  .typemaster .typemaster-container {
    padding: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.typemaster .typemaster-image-container {
  grid-row: 2;
  border-radius: 2rem;
  overflow: hidden;
  transform: translateX(2.4rem);
}
@media screen and (min-width: 610px) {
  .typemaster .typemaster-image-container {
    grid-row: 1;
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .typemaster .typemaster-image-container {
    display: block;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    transform: translateX(0%);
    border-radius: 2rem;
    overflow: hidden;
  }
}
.typemaster .typemaster-image-container > img {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
}
@media screen and (min-width: 1100px) {
  .typemaster .typemaster-rectangle {
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: var(--color-light-gray);
    border-radius: 2rem 0 0 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .typemaster .typemaster-rectangle2 {
    grid-row: 1;
    grid-column: 1;
    background-color: black;
    visibility: hidden;
  }
}

.mechanical {
  padding-top: 2.4rem;
  display: grid;
  grid-template-columns: 120px minmax(220px, 1fr);
  grid-template-rows: 193px;
  column-gap: 2.4rem;
  row-gap: 7.5rem;
}
@media screen and (min-width: 610px) {
  .mechanical {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    grid-template-columns: 214px 1fr;
    grid-template-rows: 320px 108px;
    row-gap: 0;
  }
}
@media screen and (min-width: 1100px) {
  .mechanical {
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: repeat(2, 236px);
    row-gap: 0;
    column-gap: 3rem;
    padding: 0;
    padding-top: 3rem;
  }
}
.mechanical__img-container-one {
  grid-row: 1;
  grid-column: 1;
  border-radius: 2rem;
  overflow: hidden;
  transform: translateX(-15%);
  position: relative;
}
.mechanical__img-container-one::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: var(--color-orange);
}
@media screen and (min-width: 610px) {
  .mechanical__img-container-one {
    transform: translateX(0%);
    grid-column: 1;
    grid-row: 1;
  }
}
@media screen and (min-width: 1100px) {
  .mechanical__img-container-one {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
  }
}
.mechanical__img-container-one > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mechanical__img-container-two {
  grid-row: 1;
  grid-column: 2;
  border-radius: 2rem;
  overflow: hidden;
  transform: translateX(-8%);
}
@media screen and (min-width: 610px) {
  .mechanical__img-container-two {
    transform: translateX(0%);
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 1100px) {
  .mechanical__img-container-two {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 3;
  }
}
.mechanical__img-container-two > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mechanical__title {
  padding-bottom: 2.4rem;
}
.mechanical__content {
  max-width: 32.7rem;
  margin: 0 auto;
}
@media screen and (min-width: 610px) {
  .mechanical__content {
    max-width: 80%;
    align-self: center;
  }
}
.mechanical__texts-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
@media screen and (min-width: 610px) {
  .mechanical__texts-container {
    display: contents;
    text-align: left;
  }
}
@media screen and (min-width: 1100px) {
  .mechanical__texts-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mechanical__texts-container > h2 {
    width: 255px;
    margin-bottom: 2.7rem;
  }
  .mechanical__texts-container > p {
    max-width: 255px;
    flex-grow: 0;
  }
}
@media screen and (min-width: 1100px) {
  .mechanical__rectangle3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--color-light-gray);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .mechanical__rectangle4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 5;
    background-color: var(--color-light-gray);
    visibility: hidden;
  }
}

.feature {
  display: grid;
  padding-top: 11.1rem;
  grid-template-columns: minmax(28.1rem, 1fr);
  grid-template-rows: repeat(4, minmax(28.9rem, 1fr));
  row-gap: 6.4rem;
}
@media screen and (min-width: 610px) {
  .feature {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: none;
    row-gap: 7.2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    justify-content: center;
  }
}
@media screen and (min-width: 1100px) {
  .feature {
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
}
.feature .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 610px) {
  .feature .card {
    align-items: flex-start;
    padding-right: 2.4rem;
  }
}
@media screen and (min-width: 1100px) {
  .feature .card {
    align-self: start;
    padding-right: 0rem;
  }
}
.feature .card__img-container {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 2rem;
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature .card__title {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
@media screen and (min-width: 610px) {
  .feature .card__title {
    margin-top: 4rem;
    text-align: left;
  }
}
.feature .card__content {
  text-align: center;
  padding: 0 2.4rem;
  max-width: 32.7rem;
}
@media screen and (min-width: 610px) {
  .feature .card__content {
    text-align: left;
    padding: 0;
    padding-right: 2.4rem;
  }
}

.feature__rectangle1 {
  display: none;
}
@media screen and (min-width: 1100px) {
  .feature__rectangle1 {
    display: block;
  }
}

.feature_rectangle2 {
  display: none;
}
@media screen and (min-width: 1100px) {
  .feature_rectangle2 {
    display: block;
  }
}

footer {
  text-align: center;
  margin-top: 9.6rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 610px) {
  footer {
    margin-top: 14.2rem;
    margin-bottom: 4.3rem;
  }
}
@media screen and (min-width: 910px) {
  footer {
    margin-right: 16.5rem;
    margin-left: 16.5rem;
    margin-top: 12.8rem;
    margin-bottom: 3.9rem;
  }
}

.btn {
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  line-height: 2.6rem;
  border-radius: 2rem;
  padding: 1.1rem 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  min-width: 15rem;
  height: 4.8rem;
}

.btn--gray {
  background-color: var(--color-light-gray);
  color: var(--color-dark-blue);
}
.btn--gray:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.btn--orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.btn--orange:hover {
  background-color: var(--color-light-orange);
}

.title--lg {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}
@media screen and (min-width: 910px) {
  .title--lg {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
}

.title--m {
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  font-size: 500;
}

.title--s {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.content--lg {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}
@media screen and (min-width: 910px) {
  .content--lg {
    font-size: 1.8rem;
  }
}

.content--s {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
@media screen and (min-width: 910px) {
  .content--s {
    font-size: 1.8rem;
  }
}

.text--darkb {
  color: var(--color-dark-blue);
}

.text--gray {
  color: var(--color-gray);
}

.text--upper {
  text-transform: uppercase;
  font-weight: 900;
}

/*# sourceMappingURL=main.css.map */
